body {
	background: #191765;
	font-family: Roboto;
	font-style: normal;
	margin: 0;
	padding: 0;
    overflow-x: hidden;
	
}

#header {
	height: 48px;
    width: 375px;
    top: 44px;
    border-radius: 0px;
    padding-top: 20px;

}

#header header {
	padding-right: 30px;
	padding-left: 30px;
}

#header header .logo {
	color: white;
    font-size: 22px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    width: 50%;
    float: left;

}

#header nav li a i {
	font-size: 30px;
    color: #f4f4f7;
}

#header header nav {
	float: right;
}

#portfolio .author, .profession, p {
	margin: 0 auto;
}

section #circle1 {
	position: absolute;
    width: 184px;
    height: 184px;
    left: -140px;
    top: 47px;
    background: #ffffff;
    filter: blur(20px);
    border-radius: 100%;

}

section #circle2 {
	position: absolute;
    width: 70px;
    height: 70px;
    background: #EDECFF;
    filter: blur(20px);
    right: -30px;
    border-radius: 100%;
    top: 550px;
}

section .author {
    position: static;
    width: 327px;
    height: 55px;
    top: 0px;
    font-weight: bold;
    font-size: 38px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.37px;
    color: #7D73FC;
    padding-top: 40px;
    margin-left: 25px;
}

#portfolio .profession{
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: #EDECFF;
    height: 87px;
    width: 327px;
    top: 67px;
    margin-top: 120px;


}

#portfolio p {
	height: 170px;
    width: 327px;
    top: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #C8C8D4;
    margin: 0 auto;


}

#portfolio .container {
	display: flex;
	margin: 0 auto;
}

#portfolio .languages, .skills, .frameworks {
	height: 16px;
    width: 107px;
    left: 8px;
    top: 5.3333740234375px;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #9490FF;


}

#portfolio ul li {
	height: 14px;
    width: 84px;
    top: 7.1666259765625px;
    font-size: 13px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #F5F5FF;
    list-style-type: none;
    display: inline-table;

}

.divider{
	height: 0px;
    width: 327px;
    right: 0px;
    top: 9px;
    border-radius: 0px;
    border-bottom: 1px solid #646369;
    margin: 0 auto;


}

#portfolio #next {
	margin-bottom: 50px;
}

#portfolio #next li {
	display: block;
	margin: 0 auto;
}

#social-list {
	margin-top: 30px;
    text-align: center;
}

#social-list ul li {
    width: 0px;
}

#social-list ul li a i {
	font-size: 20px;
    color: white;
    margin: 10px;
}

#next ul li a {
    position: static;
    width: 47px;
    height: 32px;
    top: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #A2A3AE;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
    
}

#next .arrow-span {
	margin-left: 10px;
}
